.stats {
  text-align: center;
  .wpm-stat {
    color: #42b571;
    font-weight: 500;
    font-size: 2rem;
  }
  .info {
    padding: 0 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #32a96d;
  }
}
