.test {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  padding: 60px;

  .typing-container {
    margin-right: 60px;

    .state-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    .source-text {
      font-size: 1.1rem;
      font-weight: 500;
      font-family: inherit;
      padding: 40px;
      background-color: #f9f9f9;
      border: 0;
      line-height: 26px;
      color: #525252;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .stats-preview {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}
