.correct {
  color: green;
  text-decoration: underline;
}

.wrong {
  color: red;
  text-decoration: line-through;
}
.state-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .stats {
    text-align: center;
    .wpm-stat {
      color: #42b571;
      font-weight: 500;
      font-size: 2rem;
    }
    .info {
      padding: 0 5px;
      font-size: 1.5rem;
      font-weight: 500;
      color: #32a96d;
    }
  }
}

.test {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  padding: 60px;
}

.typing-container {
  margin-right: 60px;
}

.stats-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
