.test-input {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  font-size: 1.1rem;
  background: #5bc538;
  font-family: inherit;
  padding: 10px 40px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #cecece;
  color: #525252;
  outline: none;
}

.test-input:disabled {
  background: #eaeaea;
  color: #757575;
  cursor: no-drop;
}
